@import 'slick-carousel/slick/slick.css';
@import 'slick-carousel/slick/slick-theme.css';

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  --background: #0a0a0a;
  --foreground: #ededed;
} */

html,
body {
  max-width: 100vw;
  overflow-x: clip;
  /* overflow-x: auto; */
}

body {
  color: var(--foreground);
  background: var(--background);
  background-color: #fff;
  font-family: 'Pretendard', -apple-system, BlinkMacSystemFont, 'Segoe UI', Arial, Helvetica,
    sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: none;
}

@media (max-width: 1200px) {
  body {
    cursor: auto;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*::selection {
  background-color: #ffeb3b;
  color: #000;
}

*::-moz-selection {
  background-color: #ffeb3b;
  color: #000;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: none;
}

a,
button,
[role='button'],
[type='button'],
[type='submit'] {
  cursor: none !important;
}

@media (max-width: 1200px) {
  a,
  button,
  [role='button'],
  [type='button'],
  [type='submit'] {
    cursor: auto !important;
  }
}

ul,
li {
  list-style: none;
}

@media (max-width: 1200px) {
  .mo-only {
    display: block;
  }
  .pc-only {
    display: none;
  }
}

@media (min-width: 1201px) {
  .mo-only {
    display: none;
  }
  .pc-only {
    display: block;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
